<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Cafe&Wifi API</title>
  </head>
  <body>
    <h1>Welcome to the Demo: Cafe & Wifi API</h1>
    <p>
      Check the
      <a href="https://documenter.getpostman.com/view/27920522/2sAYX9ngAf"
        >documentation.
      </a>
      <ul>
        <li> Get all entries: <a href="https://pythonrestapi-production.up.railway.app/all"> All </a></li>
        <li> Get random entry: <a href="https://pythonrestapi-production.up.railway.app/random"> Random </a></li>
        <li> Search by Location: <a href="https://pythonrestapi-production.up.railway.app/search/location"> By Location </a></li>
        <li> Update price: <a href="https://pythonrestapi-production.up.railway.app/update-price/id"> Update price </a></li>
        <li> Delete entry: <a href="https://pythonrestapi-production.up.railway.app/delete/id"> Delete </a></li>
      </ul>
    </p>
  </body>
</html>
